/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    scroll-padding-top: 2rem;
    list-style: none;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
}

:root {
    --main-color: #AC8C65;
    --text-color: #4D4D4D;
    --bg-color: #fff;
    --home-color:#FFF5EB;
    --white-color:#fff;
    --hover-color:#CC9C6E;

    --big-font: 3.2rem;
    --h2-font: 2rem;
}

body {
    color: var(--text-color);
    background: var(--bg-color);
}

section {
    padding: 50px 10%;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--home-color);
    padding: 18px 10%;
}

.logo {
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--text-color);
}

.logo span {
    color: var(--main-color);
}

.navbar {
    display: flex;
}

.navbar a {
    font-size: 1rem;
    padding: 10px 20px;
    color: var(--text-color);
    font-weight: 500;
}

.navbar a:hover {
    background: var(--main-color);
    color: #fff;
    border-radius: 2rem;
}

#menu-icon {
    font-size: 2rem;
    cursor: pointer;
    display: none;
}

/* home */
.home {
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    background: #FFF5EB;
    gap: 1.5rem;
}

.home-img img {
    width: 100%;
    padding:10% 20% 0 0 ;
}

.home-text h3 {
    color: var(--main-color);
    font-size: 0.8rem;
    font-weight: 400;
    padding: 2px 10px;
    width: 160px;
    border-radius: 2rem;
    background: #F4E8DC;
}

.home-text h1 {
    font-size: 4rem;
    font-weight: 700;
}

.home-text p {
    font-size: 1.1rem;
    max-width: 80%;
    margin: 1rem 0 1.1rem;
}

.home-text span {
    font-size: 1rem;
    color: #858585;
    margin: 1rem 0 1.1rem;
}


.btn {
    background: var(--main-color);
    display: inline-block;
    padding: 10px 20px;
    border-radius: 2rem;
    color: #fff;
    transition: .5s ease
}

.btn:hover {
    background: var(--hover-color);
}

.heading {
    text-align: center;
    margin-bottom: 2rem;
}

.heading p {
    text-transform: uppercase;
    font-weight: 500;
    color: var(--main-color);
}

.heading h2 {
    font-size: var(--h2-font);
}

.services-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, auto));
    gap: 1.5rem;
    
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.box img {
    width: 50%;
    height: 50%;
    object-fit: contain;
}

.box h2 {
    font-size: 1.2rem;
    margin: 1.7rem 0 1rem;
}


/* About */
.about .row{
    display: flex;
    gap: 1.5rem;
    align-items: center;
}
    
.about .row .image{
    flex:1 1 30rem;
}
    
.about .row .image img{
    width: 100%;
    padding-right: 4rem;
    object-fit: cover;
    border-radius: 50%;
}
    
.about .row .content{
    flex:1 1 45rem;
}

.about .row .content span{
    font-weight: 600;
}
    
.about .row .content .icon-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1rem 0;
    margin-top: 0.5rem;
}
    
.about .row .content .icon-container .btn{
    background: #eee;
    border-radius: .5rem;
    border: .1rem solid rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    flex: 1 1 8rem;
    padding:.5rem 0;
    font-size: 1rem;
    color: var(--text-color);
    transition: .5s ease;
}

.about .row .content .icon-container .btn:hover{
    background: var(--hover-color);
    color: var(--bg-color);
}


/* Reseum */
.experience {
    width: 100%;
    min-height: 100vh;
    background: #f1f1f1;
}

.experience .experience-container{
    padding: 0 20%;
}
  
.experienceList h3{
    margin-top: 10px;
    margin-right: 20px;
    position: relative;
    text-align: center;
} 
      
.experienceList h3::after{
    content:"";
    display: block;
    position: absolute;
    right: -20px;
    top: 0;
    width: 3px;
    height: 100%;
    border-radius: 10px;
    background-color: var(--text-color);
    overflow: hidden  ;
}
  
.experienceListYear{
    margin-bottom: 20px;
    display: flex;        
}

.experienceListYear:last-child{
    margin-bottom: 0px;
    margin: 0px;
}
   
.experienceItem{
    margin: 10px 0 10px 10px;
    padding: 10px ;
}

.experienceItem p {
    font-size: 1.2rem;
}

.experienceItem {
    margin: 0px 0 10px 10px;
}

.experienceItem a{
    color: var(--text-color);
    text-decoration: underline;
}

.experienceItem a:hover{
    color: var(--main-color);
    transition: .5s ease;
}

.experienceItem .experienceEvent li{
    margin-left: 96px;
    padding: 5px;
    list-style-type: square;
}


/* Web design */
.web .web-list{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 24px;
    margin-top: 4rem;
}

.web .web-list .web-item{
    overflow: hidden;
    width: calc(100% / 3 - 24px);
    border-radius: .5rem;
}

.web .web-list .web-item img{
    width: 100%;
    height: 100%;
    cursor: zoom-in;
    transition: .5s ease;   
}

.web .web-list .web-item:hover img{
    transform: scale(1.05);
}
  
/* Graphic design */
.graphic .graphic-list{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 32px;
    padding-bottom: 40px;
}

.graphic .graphic-list .graphic-item{
    overflow: hidden;
    width: calc(100% / 4 - 32px);
    border-radius: .5rem;
}

.graphic .graphic-list .graphic-item img{
    width: 100%;
    height: 100%;
    cursor: zoom-in;
    transition: .5s ease;   
}

.graphic .graphic-list .graphic-item:hover img{
    transform: scale(1.05);
}


.contact-form {
    display: flex;
    justify-content: center;
    margin-top: 4rem;
}

.contact-form form {
    display: flex;
    flex-direction: column;
}

.contact-form form input,
textarea {
    width: 400px;
    padding: 14px;
    margin-bottom: 10px;
    border-radius: 0.5rem;
    border: none;
    outline: none;
    background: #F4E8DC;
}

.contact-form form textarea {
    resize: none;
    height: 200px;
}

.contact-form form .contact-button {
    font-weight: 500;
    color: #fff;
    background: var(--main-color);
    cursor: pointer;
}

.contact-form form .contact-button:hover {
    background: #CC9C6E;
}


.footer{
    background: var(--text-color);
    color: var(--white-color);
}
.footer .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    gap: .5rem;
}

.footer .box-container .box{
    align-items: flex-start;
}

.footer .box-container .box h3{
    padding: 10px 0 5px;
}

.footer .box-container .box a{
    display: block;
    padding: 5px 0 ;
    color: var(--white-color);
    word-wrap:break-word;
    transition: .5s ease;
}

.footer .box-container .box a:hover{
    text-decoration: underline;
}

.footer .copyright{
padding-top: 40px;
    text-align: center;
}

.footer .copyright span{
    color: var(--white-color);
    font-weight: 600;
}

/* Making Responsive */
@media (max-width:991px) {
    header {
        padding: 10px 4%;
    }

    section {
        padding: 50px 4%;
    }

    :root {
        --big-font: 2.7rem;
        --h2-font: 1.7rem;
    }

}

@media (max-width:768px) {
    :root {
        --big-font: 2rem;
        --h2-font: 1.4rem;
    }

    #menu-icon {
        display: initial;
        color: var(--text-color);
    }

    header .navbar {
        position: absolute;
        top: -400px;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        text-align: center;
        background: #F4E8DC;
        box-shadow: 0 4px 4px rgb(0 0 0 / 10%);
        transition: 0.5s;
    }

    .navbar.active {
        top: 100%;
        background: #F4E8DC;
    }

    .navbar a {
        padding: 1.5rem;
        display: block;
    }

    .navbar a:hover {
        color: var(--main-color);
        background: none;
    }

    .home {
        grid-template-columns: 1fr;
    }

    .home-text {
        padding-top: 4rem;
    }

    .about .row .image{
        flex:1 1 40rem;
    }

    .services-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, auto));
        gap: 0.5rem;
        margin-top: 4rem;
    }

    .box {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .box img {
        width: 100px;
        height: 100px;
        object-fit: contain;
    }
}

@media (max-width:415px) {

    .contact-form form input,
    textarea {
        width: auto;
    }
}